Data/Web References/UsuarioIntranetService1/UsuarioIntranetService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.20.11.9:7000/UsuarioIntranetService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PRODUCE.NETLOGIN.Response" />
  <xs:import schemaLocation="http://172.20.11.9:7000/UsuarioIntranetService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PRODUCE.NETLOGIN.Request" />
  <xs:element name="GetUsuarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRol" type="xs:int" />
        <xs:element minOccurs="0" name="idAplicacion" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PRODUCE.NETLOGIN.Response" minOccurs="0" name="GetUsuariosResult" nillable="true" type="q1:ArrayOfUsuarioIntranetExtendidoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountUsuarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRol" type="xs:int" />
        <xs:element minOccurs="0" name="idAplicacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountUsuariosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoTrabajador" type="xs:int" />
        <xs:element minOccurs="0" name="idRol" type="xs:int" />
        <xs:element minOccurs="0" name="idAplicacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PRODUCE.NETLOGIN.Response" minOccurs="0" name="GetUsuarioResult" nillable="true" type="q2:UsuarioIntranetExtendidoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuariosFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PRODUCE.NETLOGIN.Request" minOccurs="0" name="filter" nillable="true" type="q3:UsuarioIntranetExtendidoRequest" />
        <xs:element minOccurs="0" name="idRol" type="xs:int" />
        <xs:element minOccurs="0" name="idAplicacion" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuariosFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PRODUCE.NETLOGIN.Response" minOccurs="0" name="GetUsuariosFilterResult" nillable="true" type="q4:ArrayOfUsuarioIntranetExtendidoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountUsuariosFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PRODUCE.NETLOGIN.Request" minOccurs="0" name="filter" nillable="true" type="q5:UsuarioIntranetExtendidoRequest" />
        <xs:element minOccurs="0" name="idRol" type="xs:int" />
        <xs:element minOccurs="0" name="idAplicacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountUsuariosFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountUsuariosFilterResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>