Data/Web References/UsuarioIntranetService1/UsuarioIntranetService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PRODUCE.NETLOGIN.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PRODUCE.NETLOGIN.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsuarioIntranetExtendidoRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="anexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigodependencia" type="xs:int" />
      <xs:element minOccurs="0" name="codigotrabajador" type="xs:int" />
      <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idaplicacion" type="xs:int" />
      <xs:element minOccurs="0" name="idrol" type="xs:int" />
      <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombrecompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombrerol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioIntranetExtendidoRequest" nillable="true" type="tns:UsuarioIntranetExtendidoRequest" />
</xs:schema>