Data/Web References/UsuarioIntranetService1/UsuarioIntranetService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UsuarioIntranetService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.20.11.9:7000/UsuarioIntranetService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://172.20.11.9:7000/UsuarioIntranetService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://172.20.11.9:7000/UsuarioIntranetService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PRODUCE.NETLOGIN.Response" />
      <xsd:import schemaLocation="http://172.20.11.9:7000/UsuarioIntranetService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PRODUCE.NETLOGIN.Request" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsuarioIntranetService_GetUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuarios" />
  </wsdl:message>
  <wsdl:message name="IUsuarioIntranetService_GetUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioIntranetService_CountUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:CountUsuarios" />
  </wsdl:message>
  <wsdl:message name="IUsuarioIntranetService_CountUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioIntranetService_GetUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarioIntranetService_GetUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioIntranetService_GetUsuariosFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuariosFilter" />
  </wsdl:message>
  <wsdl:message name="IUsuarioIntranetService_GetUsuariosFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuariosFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioIntranetService_CountUsuariosFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:CountUsuariosFilter" />
  </wsdl:message>
  <wsdl:message name="IUsuarioIntranetService_CountUsuariosFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountUsuariosFilterResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsuarioIntranetService">
    <wsdl:operation name="GetUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioIntranetService/GetUsuarios" message="tns:IUsuarioIntranetService_GetUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioIntranetService/GetUsuariosResponse" message="tns:IUsuarioIntranetService_GetUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioIntranetService/CountUsuarios" message="tns:IUsuarioIntranetService_CountUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioIntranetService/CountUsuariosResponse" message="tns:IUsuarioIntranetService_CountUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioIntranetService/GetUsuario" message="tns:IUsuarioIntranetService_GetUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioIntranetService/GetUsuarioResponse" message="tns:IUsuarioIntranetService_GetUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsuariosFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioIntranetService/GetUsuariosFilter" message="tns:IUsuarioIntranetService_GetUsuariosFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioIntranetService/GetUsuariosFilterResponse" message="tns:IUsuarioIntranetService_GetUsuariosFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountUsuariosFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioIntranetService/CountUsuariosFilter" message="tns:IUsuarioIntranetService_CountUsuariosFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioIntranetService/CountUsuariosFilterResponse" message="tns:IUsuarioIntranetService_CountUsuariosFilter_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsuarioIntranetService" type="tns:IUsuarioIntranetService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsuarios">
      <soap:operation soapAction="http://tempuri.org/IUsuarioIntranetService/GetUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountUsuarios">
      <soap:operation soapAction="http://tempuri.org/IUsuarioIntranetService/CountUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuarioIntranetService/GetUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsuariosFilter">
      <soap:operation soapAction="http://tempuri.org/IUsuarioIntranetService/GetUsuariosFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountUsuariosFilter">
      <soap:operation soapAction="http://tempuri.org/IUsuarioIntranetService/CountUsuariosFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsuarioIntranetService">
    <wsdl:port name="BasicHttpBinding_IUsuarioIntranetService" binding="tns:BasicHttpBinding_IUsuarioIntranetService">
      <soap:address location="http://172.20.11.9:7000/UsuarioIntranetService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>