Data/Web References/UsuarioIntranetService1/UsuarioIntranetService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PRODUCE.NETLOGIN.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PRODUCE.NETLOGIN.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUsuarioIntranetExtendidoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuarioIntranetExtendidoResponse" nillable="true" type="tns:UsuarioIntranetExtendidoResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarioIntranetExtendidoResponse" nillable="true" type="tns:ArrayOfUsuarioIntranetExtendidoResponse" />
  <xs:complexType name="UsuarioIntranetExtendidoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="anexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigodependencia" type="xs:int" />
      <xs:element minOccurs="0" name="codigotrabajador" type="xs:int" />
      <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idaplicacion" type="xs:int" />
      <xs:element minOccurs="0" name="idrol" type="xs:int" />
      <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombrecompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombrerol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioIntranetExtendidoResponse" nillable="true" type="tns:UsuarioIntranetExtendidoResponse" />
</xs:schema>