Data/Web References/UsuarioExtranetService/UsuarioExtranetService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.20.11.9:7000/UsuarioExtranetService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PRODUCE.NETLOGIN.Response" />
  <xs:element name="GetUsuarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRol" type="xs:int" />
        <xs:element minOccurs="0" name="idAplicacion" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PRODUCE.NETLOGIN.Response" minOccurs="0" name="GetUsuariosResult" nillable="true" type="q1:ArrayOfUsuarioExtranetExtendidoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountUsuarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRol" type="xs:int" />
        <xs:element minOccurs="0" name="idAplicacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountUsuariosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idContactoExtranet" type="xs:int" />
        <xs:element minOccurs="0" name="idRol" type="xs:int" />
        <xs:element minOccurs="0" name="idAplicacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PRODUCE.NETLOGIN.Response" minOccurs="0" name="GetUsuarioResult" nillable="true" type="q2:UsuarioExtranetExtendidoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>