Data/Web References/UsuarioExtranetService/UsuarioExtranetService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PRODUCE.NETLOGIN.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PRODUCE.NETLOGIN.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUsuarioExtranetExtendidoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuarioExtranetExtendidoResponse" nillable="true" type="tns:UsuarioExtranetExtendidoResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarioExtranetExtendidoResponse" nillable="true" type="tns:ArrayOfUsuarioExtranetExtendidoResponse" />
  <xs:complexType name="UsuarioExtranetExtendidoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idaplicacion" type="xs:int" />
      <xs:element minOccurs="0" name="idcontactoextranet" type="xs:int" />
      <xs:element minOccurs="0" name="idrol" type="xs:int" />
      <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombrerol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="razonsocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioExtranetExtendidoResponse" nillable="true" type="tns:UsuarioExtranetExtendidoResponse" />
</xs:schema>