WebApplicationIntranet/Web References/ServiceSunat/WCFSistemasService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFSistemasService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://srv-desnet-services.produccion.gob.pe:7023/WCFSistemasService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://srv-desnet-services.produccion.gob.pe:7023/WCFSistemasService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://srv-desnet-services.produccion.gob.pe:7023/WCFSistemasService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFSistemasService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFSistemasService_BuscarSunatProduccionParametro_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarSunatProduccionParametro" />
  </wsdl:message>
  <wsdl:message name="IWCFSistemasService_BuscarSunatProduccionParametro_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarSunatProduccionParametroResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFSistemasService_Validacion_SUNAT_InputMessage">
    <wsdl:part name="parameters" element="tns:Validacion_SUNAT" />
  </wsdl:message>
  <wsdl:message name="IWCFSistemasService_Validacion_SUNAT_OutputMessage">
    <wsdl:part name="parameters" element="tns:Validacion_SUNATResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFSistemasService">
    <wsdl:operation name="BuscarSunatProduccionParametro">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFSistemasService/BuscarSunatProduccionParametro" message="tns:IWCFSistemasService_BuscarSunatProduccionParametro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFSistemasService/BuscarSunatProduccionParametroResponse" message="tns:IWCFSistemasService_BuscarSunatProduccionParametro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Validacion_SUNAT">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFSistemasService/Validacion_SUNAT" message="tns:IWCFSistemasService_Validacion_SUNAT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFSistemasService/Validacion_SUNATResponse" message="tns:IWCFSistemasService_Validacion_SUNAT_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HttpSistemasService" type="tns:IWCFSistemasService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarSunatProduccionParametro">
      <soap:operation soapAction="http://tempuri.org/IWCFSistemasService/BuscarSunatProduccionParametro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validacion_SUNAT">
      <soap:operation soapAction="http://tempuri.org/IWCFSistemasService/Validacion_SUNAT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFSistemasService">
    <wsdl:port name="HttpSistemasService" binding="tns:HttpSistemasService">
      <soap:address location="http://172.20.11.9:7023/WCFSistemasService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>