WebApplicationIntranet/Web References/ServiceSunat/WCFSistemasService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFSistemasService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFSistemasService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BuscarEmpresaResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="cod_depField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cod_distField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cod_provField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ddp_ciiuField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ddp_dobleField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ddp_estadoField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ddp_fecactField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ddp_fecaltField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ddp_fecbajField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ddp_flag22Field" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ddp_identiField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ddp_inter1Field" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ddp_llltttField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ddp_mclaseField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ddp_nombreField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ddp_nomviaField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ddp_nomzonField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ddp_numer1Field" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ddp_numregField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ddp_numrucField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ddp_reactiField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ddp_refer1Field" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ddp_secuenField" type="xs:int" />
      <xs:element minOccurs="0" name="ddp_tamanoField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ddp_tipviaField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ddp_tipzonField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ddp_tpoempField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ddp_ubigeoField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ddp_usernaField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="desc_ciiuField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="desc_depField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="desc_distField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="desc_estadoField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="desc_flag22Field" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="desc_identiField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="desc_numregField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="desc_provField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="desc_tamanoField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="desc_tipviaField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="desc_tipzonField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="desc_tpoempField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="esActivoField" type="xs:boolean" />
      <xs:element minOccurs="0" name="esHabidoField" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuscarEmpresaResult" nillable="true" type="tns:BuscarEmpresaResult" />
</xs:schema>